name: Test CI
# test
on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches-ignore:
      - master
jobs:
  test:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip-build]')"
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 14
    - name: Cache node modules
      uses: c-hive/gha-npm-cache@v1
    - name: Install dependencies
      run: npm ci
    - name: Run build command
      run: npm run build
